@model OrderManagement.Web.Models.ForgotPassword
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/__LoginLayout.cshtml";
}
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div class="top_login">
        <div>

           <img src= "@Url.Content("~/Images/DPIlogo.jpg")" alt="Image" width="200px" height="150px" />

        </div>

         

        <h3>Forgot Your Password?</h3>

        After you provide the information below, we will send a Email explaining how to reset your password.

       @* <p>Login in. To see it in action.</p>*@

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "ForgotformID", @class = "m-t" }))
        {
                    
            <div class="form-group">
                @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control",@placeholder = "Email" })
                @Html.ValidationMessageFor(model => model.EmailAddress)
                <span class="field-validation-error">@ViewBag.EmailNotExistMessage</span>
                
            </div>
            
            <button type="submit" class="btn btn-primary block full-width m-b">Submit</button>
             <a href="../Account/ReturnToLogin" class="button">Return to Login screen?</a>
            
        }
        <p class="m-t"><small></small></p>
    </div>
</div>

<script>

    $(document).ready(function () {

      
    });
</script>
