<?xml version="1.0"?>
<configuration>
	<startup>
		
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>

    <!-- Interval config-->
    <add key="download_interval" value="500000"/>
    <!-- SMTP config-->
    <add key="SMTPHost" value="smtp.gmail.com"/>
    <add key="SMTPPortNo" value="587"/>
    <add key="SMTPSSL" value="1"/>
    <add key="SMTPUserName" value="dpi.campaigntrack@gmail.com"/>
    <add key="SMTPPassword" value="!zfca1999"/>

    <!-- POP config-->
    <add key="pop_server" value="mail.zerofootprint.com.au"/>
    <add key="pop_port" value="110"/>
    <add key="pop_use_ssl" value="false"/>
    <add key="pop_account" value="dpi@zerofootprint.com.au"/>
    <add key="pop_password" value="!zfca1999"/>
    <add key="pop_delete_after_download" value="true"/>
    <add key="email_from" value="DPI Support"/>
    <add key="MailPath" value="D:\\CampaignTrack\\Mail\\"/>
    <add key="Archive" value="D:\\CampaignTrack\\Archive\\"/>
    <add key="Cancelled" value="D:\\CampaignTrack\\Cancel\\"/>
    <add key="Error" value="D:\\CampaignTrack\\Error\\"/>
    <add key="NoMatch" value="D:\\CampaignTrack\\NoMatch\\"/>
    <add key="DbConn" value="Server=EZESTL-SEZ2\SQLSERVER2012;DataBase=CampaignTrack_OMS_Prod;Integrated Security=True;" />
    <!--<add key="DbConn" value="Server=AMAZONA-HLGH6D4;DataBase=CampaignTrack_OMS_Prod;User Id=sa;Password=!zfca1999;"/>-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.5.19.0" newVersion="2.5.19.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.5.19.0" newVersion="2.5.19.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.10.0" newVersion="2.1.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.10.0" newVersion="2.1.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.12.0" newVersion="1.2.12.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Threading.Tasks.Extensions.Desktop" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.165.0" newVersion="1.0.165.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGoogleNotificationService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://dpi.zerofootprint.com.au/GoogleService/GoogleNotificationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGoogleNotificationService"
        contract="GoogleService.IGoogleNotificationService" name="BasicHttpBinding_IGoogleNotificationService" />
    </client>
  </system.serviceModel>
</configuration>
