<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Interval config-->
    
    <add key="download_interval" value="500000"/>
    
    <!-- SMTP config-->
    
    <add key="SMTPHost" value="smtp.gmail.com"/>
    <add key="SMTPPortNo" value="587"/>
    <add key="SMTPSSL" value="1"/>
    <add key="SMTPUserName" value="dpi.campaigntrack@gmail.com"/>
    <add key="SMTPPassword" value="!zfca1999"/>

    
    <!-- POP config-->
    
    <add key="pop_server" value="mail.zerofootprint.com.au"/>
    <add key="pop_port" value="110"/>
    <add key="pop_use_ssl" value="false"/>
    <add key="pop_account" value="dpi_test@zerofootprint.com.au"/>
    <add key="pop_password" value="!zfca1999"/>
    <add key="pop_delete_after_download" value="true"/>
    <add key="email_from" value="DPI Support"/>
    <add key="MailPath" value="D:\\CampaignTrack\\Mail\\"/>
    <add key="Archive" value="D:\\CampaignTrack\\Archive\\"/>
    <add key="Cancelled" value="D:\\CampaignTrack\\Cancel\\"/>
    <add key="Error" value="D:\\CampaignTrack\\Error\\"/>
    <add key="NoMatch" value="D:\\CampaignTrack\\NoMatch\\"/>
    <add key="DbConn" value="Server=AMAZONA-HLGH6D4;DataBase=CampaignTrack_OMS_Prod;User Id=sa;Password=!zfca1999;"/>
  </appSettings>
</configuration>