<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!-- Interval config-->
    <add key="download_interval" value="500000"/>
    <!-- SMTP config-->
    <add key="SMTPHost" value="smtp.gmail.com"/>
    <add key="SMTPPortNo" value="587"/>
    <add key="SMTPSSL" value="1"/>
    <add key="SMTPUserName" value="dpi.campaigntrack@gmail.com"/>
    <add key="SMTPPassword" value="!zfca1999"/>

    <!-- POP config-->
    <add key="pop_server" value="mail.zerofootprint.com.au"/>
    <add key="pop_port" value="110"/>
    <add key="pop_use_ssl" value="false"/>
    <add key="pop_account" value="dpi_test@zerofootprint.com.au"/>
    <add key="pop_password" value="!zfca1999"/>
    <add key="pop_delete_after_download" value="true"/>
    <add key="email_from" value="DPI Support"/>
    <add key="MailPath" value="D:\\CampaignTrack\\Mail\\"/>
    <add key="Archive" value="D:\\CampaignTrack\\Archive\\"/>
    <add key="Cancelled" value="D:\\CampaignTrack\\Cancel\\"/>
    <add key="Error" value="D:\\CampaignTrack\\Error\\"/>
    <add key="NoMatch" value="D:\\CampaignTrack\\NoMatch\\"/>
    <add key="DbConn" value="Server=test.zerofootprint.com.au;DataBase=CampaignTrack_OMS_Prod;user id=sa;password=!zfca1999"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-2.6.7.0" newVersion="2.6.7.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-2.6.7.0" newVersion="2.6.7.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-2.1.10.0" newVersion="2.1.10.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-2.1.10.0" newVersion="2.1.10.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
