<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!-- Interval config-->
    <add key="download_interval" value="500000"/>
    <!-- SMTP config-->
    <add key="SMTPHost" value="smtp.gmail.com"/>
    <add key="SMTPPortNo" value="587"/>
    <add key="SMTPSSL" value="1"/>
    <add key="SMTPUserName" value="dpi.campaigntrack@gmail.com"/>
    <add key="SMTPPassword" value="42william"/>

    <!-- POP config-->    
    <add key="email_from" value="DPI Support"/>
    <add key="MailPath" value="D:\\CampaignTrack\\Mail\\"/>
    <add key="Archive" value="D:\\CampaignTrack\\Archive\\"/>
    <add key="Cancelled" value="D:\\CampaignTrack\\Cancel\\"/>
    <add key="Error" value="D:\\CampaignTrack\\Error\\"/>
    <add key="NoMatch" value="D:\\CampaignTrack\\NoMatch\\"/>
    <add key="DbConn" value="Server=EZESTL-1064;DataBase=CampaignTrack_OMS_Prod;Integrated Security=True;"/>
    <!--<add key="DbConn" value="Server=test.zerofootprint.com.au;DataBase=CampaignTrack_OMS_Prod;user id=sa;password=!zfca1999;"/>-->
    
    <!-- Support email config-->
    <add key="supportEmail" value="gade.swapnil@gmail.com"/>
    <add key="supportCCEmail" value="swapnilgade@hotmail.com"/>
    
    <!-- DPI email config-->
    <add key="dpiEmail" value="gade.swapnil@gmail.com"/>
    <add key="dpiCCEmail" value=""/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGoogleNotificationService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://test.zerofootprint.com.au/GoogleService/GoogleNotificationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGoogleNotificationService"
        contract="GoogleService.IGoogleNotificationService" name="BasicHttpBinding_IGoogleNotificationService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
